$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;


//recipe section 
//recipes sections
.recipes{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 140px ;

}
.recipecontrol {
  height: 7vh;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.search{
  width: 100%;
}
.searchinput{
  margin-right: 10px;
  height: 35px;
  width: 30%;
  border: none;
  font-weight: bold;
  font-size: large;
  box-shadow: 2px 0px 2px 2px $primary-color2;
  //border-radius: 17px;
}
.searchbutton{
  height: 35px;
  width: 20%;
  border: none;
  border-radius: 10px;
  background-color: $primary-color2;
  color: $primary-color1;
  font-size: large;
}
.filtercontainer{
  position: relative;
}
.filter{
  height: 35px;
  width: 60%;
  padding-left: 10px;
  font-size: large;
  font-weight: bold;
  border: none;
  box-shadow: 2px 0px 2px 2px $primary-color2;
}
.dropicon{
  position: absolute;
  color: $primary-color2;
  top: 30px;
  left: 90px;
}
.searchform{
  width: 50%;
}
.filterform{
  margin-right: auto;
}
//recipe rendering 
.recipedisplay{
  display: flex;
  flex-direction: row;
  margin: 10px 20px ;
}
.recipecard{
 height: 35vh;
 width: 20%;
 margin: 10px;
 border-radius: 20px;
 box-shadow: 3px 3px 3px 3px $primary-color2;
}
.recipedisplay{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 5% ;
}
.recipecard{
 height: 40vh;
 width: 20%;
 margin: 10px;
 border-radius: 20px;
 box-shadow: 3px 3px 3px 3px $primary-color2;
}
.recipeinfo{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.recipeimagesect{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
  
}
.img{
  width: 100%;
  height: 70%;
  border-radius: 20px;
}
.img h5{
  position: absolute;
  bottom: 20px;
}
.recipeimage{
  width: 100%;
  height: 100%;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.success-notification {
  background-color: #4caf50; 
  position: fixed;
  top: 0;  
}

.error-notification {
  background-color: #f44336; 
  position: fixed;
  top: 0;  
}
.viewmore{
  color: $primary-color1;
  background-color: $primary-color2;
  border: none;
  display: flex;
  margin-bottom: 25px;
  height: 8px;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .recipecard{
    height: 30vh;
    width: 30%;
    margin: 20px;
   }
   .details mat-icon {
    margin: 5px 25px;
    color: $primary-color2;
  }
}
@media only screen and (max-width: 500px) {
  .recipecard{
    height: 30vh;
    width: 50% ;

   }
   .details mat-icon {
    margin: 5px 20px;
    color: $primary-color2 ;
  }
}

@media only screen and (max-width: 768px) {
  .recipecard {
    height: 45vh;
    width: 35%;
   }
   .details mat-icon {
    margin: 5px 20px ;
    color: $primary-color2 ;
  }
}
@media only screen and (max-width: 1024px) {
  .recipecard{
    height: 50vh;
    width: 30%;
   }
   .details mat-icon {
    margin: 5px 20px;
    color: $primary-color2 ;
  }
}
