$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;
$primary-backgroud: 'https://images.pexels.com/photos/4552113/pexels-photo-4552113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1';

.signupCard{
    background-image: url($primary-backgroud);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    margin: 0;
    overflow: hidden;  
}

mat-card {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 7%;
    color: $primary-color2;
    height: 80vh ;
    //width: 30%;    
   }

   .logodiv {
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 30%; 
    margin: 0 auto 3% auto;  
}
.logo  {
    width: 100%; 
    height: 100%; 
}

mat-form-field {
    width: 90%;
    //height: 5%;
    margin-left: 5%;
}

.signupbutton{
    display: flex;
    justify-content: center;
    padding: 0 8px 0 0;
    color: $primary-color1;
    margin-bottom: 6%;
}
.signupbutton button{
    color: $primary-color1;
    background-color: $primary-color2;
    border: none;
    width: 70%;
    height: 35px;
    font-size: larger;  
    border-radius: 10px;
}

.passmatch{
    margin-left: 5%;
    padding-left: 10px;
    color: red;
}
.footer {
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    color: $primary-color3;
}
.footer p {
    color: $primary-color3;
}
.footer p span {
    text-decoration: underline;
    cursor: pointer;
    color: $primary-color2;
}
//responsiveness 

@media only screen and (max-width: 768px) {
    mat-card {
        width: 75%; 
        height: 60vh ;
    }
}
@media only screen and (max-width: 1024px) {
    mat-card {
        width: 50%; 
    }
}
@media only screen and (min-width: 1024px) {
    mat-card {
        width: 30%; 
    }
}
@media only screen and (max-width: 600px) {
    mat-card {
        width: 60%; 
        height: 90vh ;
    }
}
@media only screen and (max-width: 360px) {
    mat-card {
        width: 90%; 
        height: 70vh ;
    }
    .cardContent{
        width: 80%; 
        height: 70vh ;
    }
    mat-mdc-form-field{
        height: 1px;
    }
}
@media only screen and (max-width: 460px) {
    mat-card {
        width: 80%; 
        height: 70vh ;
    }
    .logo{
        display: flex;
        align-items: center;
        margin: 0 auto; 
        height: 5vh;
        max-width: 70%; 
        top: 10px;
    }
    .logo img {
        max-width: 80%; 
    }
}