<div class="container">
    <h2>Testimonials</h2>
    <!-- Carousel wrapper -->
    <ngb-carousel>
      <!-- Slide 1 -->
      <ng-template ngbSlide>
        <div class="card ">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <img src="https://images.unsplash.com/photo-1581299894007-aaa50297cf16" class="card-img-top" style="height: 200px; width: 200px; border-radius: 50%;" alt="Second slide">
            <h5 class="card-title">Chef</h5>
            <p class="card-text">I have a lot of food allergies and I love this app!</p>
            <small class="text">~ Amir</small>
          </div>
        </div>
      </ng-template>      
  
      <!-- Slide 2 -->
      <ng-template ngbSlide >
        <div class="card" >
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <img src="https://images.unsplash.com/photo-1445012973386-d2fa141ff003?q=80&w=3687&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" style="height: 200px; width: 200px; border-radius: 50%;" alt="Second slide">
            <h5 class="card-title">Student</h5>
            <p class="card-text">I think we've been using Equity eateri for a while now and it's an awesome app.It's very easy 
              to use and you can save recipes in it. I think the best thing about this app is that it has alot of categories,
              so you are ablee to find the perfect recipe for any occassion.</p>
            <small class="text">~ Denis</small>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    <!-- Carousel wrapper -->
  </div>
  