$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

.recipeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}

.recipedetails {
  width: 100%; 
  height: 80vh;
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 5px;

}
.recipedetails h1, h2, h3{
    font-weight: 500;
}
.recipeImage {
  margin-bottom: 20px;  
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recimg {
  max-width: 50%;
  height: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
mat-form-field{
  height: 100px;
  width: 80%;
}
mat-icon{
 color: $primary-color2;
}
.share-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.share-text {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  color: $primary-color2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.share-options p{
  color: $primary-color2;
}
.share-container:hover .share-text {
  opacity: 1;
}
.footer{
  display: flex;
  justify-content: center;
 align-items: stretch;
}
.footer button{
  margin: 20px;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  color: $primary-color1;
}
.footer .cancel{
  background-color: red;
}
.footer .submit{
  background-color: $primary-color2;
}