$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

mat-form-field {
    margin-right: 10px;
}

.search{
    background-color: $primary-color2;
    border: none;
    color: $primary-color1;
    font-size: small;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 768) {
    .searchform {
        margin-top: 50px;
    }
    .search{
    height: 20px;
    width: 60px;
    }
}