$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

.recomcontainer{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 50vh;
    width: 100%;
}
.recomcardcontainer{
    flex: 0 0 20%;
    height: 70%;
    width: 10%;
    margin: 15px;
    box-shadow: 2px 2px 3px 2px $primary-color2;
}
.recomcard{
    height: 100%;
    width: 100%;
    position: relative;  
    border-radius: 20px; 
} 
.recoImg{
    height: 80%;
    width: 100%;  
}
.viewmorebut{
    background-color: $primary-color2;
    color: $primary-color1;
    border: none;
    height: 25px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}
.description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: $primary-color1;
    transition: opacity 0.3s ease;
}
.recomcard:hover .description {
    opacity: 1;
  }
  @media only screen and (max-width: 415px) {
    .recomcontainer{
    height: 50vh;
    width: 50%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .recomcontainer{
        height: 65vh;
        width: 60%;
    }
}
  