<div class="container py-5">
    <div class="row" *ngIf="recipe">

      <div class="col-lg-6 justify-content-center align-items-center ">
        <img
        [src]="recipe.recipePicture"
          class="img-fluid rounded mx-auto" style="height: 400px; width: 400px;"
          alt="Product Image"
        /><br>
        <h2 class="fw-bold mt-3"><Strong>Title</Strong> {{recipe?.title}}</h2>
      </div>

      <div class="col-lg-6">
        <hr>
        <h3><strong>Description</strong></h3>
        <p class="mb-4">
          This is a detailed description of the product. It provides all necessary
          information about the features, benefits, and specifications of the
          product.
        </p>
        <hr>
        <p class="text-muted"><strong>Category</strong> {{recipe.category}}</p>
        <p class="my-4"><strong>Time</strong> {{recipe?.time || 0}} mins</p>
        <hr>
        <div class="col-lg-4">
            <h3>Ingredients</h3>
            <ul>
                <li>{{recipe?.ingredients}}</li>
            </ul>
        </div>
        <div class="col-lg-4">
          <h3>Instructions</h3>
          <ul>
              <li>{{recipe?.instructions}}</li>
          </ul>
      </div>

      <hr>
        <div class="d-flex gap-3 mb-4">
          <button class="btn btn-primary share" type="button">Share <i class="bi bi-share-fill"></i></button>
        </div>
      </div>
    </div>
  </div>