$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;


//my profile section 
.myprofile{
    display: flex;
    flex-direction: row; 
    margin-top: 120px;
}
//side div 
.sidediv{
    width: 30%;
    align-items: center;
    
}
.sidediv mat-card{
    margin: 20px;
    box-shadow: 3px 3px 3px 3px $primary-color2;
    border-radius: 17px;
}
.sidediv mat-card p{
    padding: 10px;
    margin: auto;

}
.sidediv mat-card p mat-icon {
    color: $primary-color2;
}
.sidediv mat-card button{
    margin: 20px auto;
    background-color: $primary-color2;
    color: $primary-color1;
    border: none;
    height: 35px;
    font-weight: bold;
    border-radius: 17px;
    width: 130px;
}

.sidediv img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
}
.summarydiv{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.bio{
    margin: auto;
    height: 100%;
    width: 90%;
    padding-bottom: 20px;
    border-radius: 17px;
    box-shadow: 3px 3px 3px 3px $primary-color2;
}
.summary h4, .bio h4{
    margin: 10px auto;
    text-align: center;
}
.summary p, .bio p{
    margin: auto 20px;
    border: 1px dotted $primary-color2;
    padding: 10px;
}
.summary{
    margin: 15px 50px; 
    height: 100%;
    width: 50%;
    padding-bottom: 20px;
    border-radius: 17px;
    box-shadow: 3px 3px 3px 3px $primary-color2;
}
.popupcard{
    height: 10vh;
}
@media only screen and (max-width: 600px) {
    //side div 
    .sidediv{
        width: 60%;
        height: 60vh;
        align-items: center;        
    }
    .sidediv img{
        height: 150px;
        width: 150px;
    }
    .summarydiv{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .summary{
        margin: 15px ; 
        height: 90%;
        width: 90%;
        padding-bottom: 20px;
        border-radius: 17px;
        box-shadow: 3px 3px 3px 3px $primary-color2;
    }

}
@media only screen and (max-width: 768px) {
    //side div 
    .sidediv{
        width: 50%;
        height: 70vh;
        align-items: center;        
    }
    .sidediv img {
        height: 180px;
        width: 180px;
    }
    .summarydiv {
        width: 60% ;
        display: flex ;
        flex-direction: column ;
        margin-top: 20px ;
        margin-right: 20px;
    }
    .summary {
        margin: 15px; 
        height: 90% ;
        width: 90% ;
        padding-bottom: 20px;
        border-radius: 17px;
        box-shadow: 3px 3px 3px 3px $primary-color2;
    }

}
@media only screen and (max-width: 768px) {
    //side div 
    .sidediv{
        width: 60%;
        height: 80vh;
        align-items: center;        
    }
    .sidediv img {
        height: 200px;
        width: 200px;
    }   
}
@media only screen and (max-width: 600px) {
    //side div 
    .sidediv{
        width: 40%;
        height: 60vh;
        align-items: center; 
        font-size: 10px;       
    }
    .sidediv img {
        height: 120px;
        width: 120px;
    }   
}