<div>
    <app-navigation></app-navigation>
    <!---my profile-->    
    <div class="myprofile">
        <!--Side Div to show profile pic and bio-->
        <div class="sidediv" *ngIf="userData">
            <mat-card>
            <img mat-card-image src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="profilepic">      
                <p> <mat-icon> email</mat-icon> {{userData?.email}}</p>
                <p><mat-icon> call</mat-icon> {{userData?.profile?.telephone}}</p>
                <p><mat-icon> facebook</mat-icon> ~ {{userData?.profile?.facebook}}</p>
                <button mat-stroked-button type="button" (click)="edit()" >Edit Profile</button>
            </mat-card>
        </div>
        <!--Div to show profile summary data and additional bio-->
        <div class="summarydiv" *ngIf="userData">
            <mat-card class="bio">
                <h4>MyBio</h4>
                <p>Username: {{userData?.username}}</p>
                <p>FullName:{{userData?.username}} </p>
                <p>Address: {{userData?.profile?.address}}</p>
                <p>Restaurant:  {{userData?.profile?.restaurant}}</p>
            </mat-card>
            <mat-card class="summary">
                <h4>My Summary: </h4>
                <p>Recipe Shared:</p>
                <p>My Recipes:</p>
                <p>No. Of Likes:</p>
                <p>Recommended:</p>
                
            </mat-card>
        </div>
    </div>
</div>