<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-3 shadow-md">
          <div class="row g-0">
            <div class="col-md-6 d-flex align-items-center"> 
              <div class="card-body">
                <h3 class="card-title" style="font-weight: bold;">Save and Share your Favorite Recipe</h3>
                <p class="card-text">
                  Equity Eateries is a web app that allows you to save your favorite recipes and share them.
                </p>
                <p class="card-text">
                  <small class="text-muted">Meet Your Cooking needs</small>
                </p>
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-block custom-button">Get Started</button>
                </div>
              </div>
            </div>
            <div class="col-md-6"> 
              <img
                mat-card-image
                src="https://images.unsplash.com/photo-1539136788836-5699e78bfc75?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Trendy Pants and Shoes"
                class="img-fluid rounded-start"
                style="height: 100%; object-fit: cover;" 
              />
            </div>
          </div>
        </div>
      </div>
    </div><br><br>

    <app-popular-recipes></app-popular-recipes>
  </div>
  