<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-3 shadow-md">
          <div class="row g-0">
            <div class="col-md-6 d-flex align-items-center"> 
              <div class="card-body">
                <h3 class="card-title" style="font-weight: bold;">Save and Share your Favorite Recipe</h3>
                <p class="card-text">
                  Equity Eateries is a web app that allows you to save your favorite recipes and share them.
                </p>
                <p class="card-text">
                  <small class="text-muted">Meet Your Cooking needs</small>
                </p>
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-block custom-button">Get Started</button>
                </div>
              </div>
            </div>
            <div class="col-md-6"> 
              <img
                mat-card-image
                src="https://images.unsplash.com/photo-1539136788836-5699e78bfc75?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Trendy Pants and Shoes"
                class="img-fluid rounded-start"
                style="height: 100%; object-fit: cover;" 
              />
            </div>
          </div>
        </div>
      </div>
    </div><br><br>

    <app-popular-recipes></app-popular-recipes>
    <app-testimonials></app-testimonials><br>

    <footer class="text-center text-lg-start" style="background-color: maroon; color: white;">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h3 class="text-uppercase">ContactUs</h3>
    
            <ul class="list-unstyled"> 
              <li>
                <a href="mailto:">
                  <mat-icon> email</mat-icon>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/equity_eateries/">
                  equity_eateries
                </a>
              </li>
              <li style="text-decoration: none;">
                <a href="https://www.linkedin.com/company/equity-eateries/" >
                  LinkedIn
                </a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h3 class="text-uppercase">AboutUs</h3>
            <h5>Save And Share Your Favorite Recipe With the World.</h5>
            <p>Equity eaterie lets you pin your  <br>
              favorite recipes from around the web <br>
              into an easy to use Web app.</p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-white" href="#">equiteries.com</a>
      </div>
      <!-- Copyright -->
    </footer>
</div>    