<div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card border-0">
                <div class="card-body">
                    <form [formGroup]="editrecipe" class="row my-3" >
                        <div class="col">
                            <mat-form-field class="form-group mt-1 mb-1" style="width: 100%;">
                                <mat-label> Title</mat-label>
                                <input matInput type="text" formControlName="title" placeholder="Enter Recipe title">
                            </mat-form-field>

                            <mat-form-field class="form-group mt-1 mb-1" style="width: 100%;">
                                <mat-label>Category</mat-label>
                                <mat-select placeholder="Recipe Category" formControlName="category">
                                    <mat-option *ngFor="let category of Categorys" [value]="category.value">
                                        {{ category.viewValue }}
                                    </mat-option>
                                </mat-select>               
                              </mat-form-field>

                            <mat-form-field class="form-group mt-1 mb-1" style="width: 100%;">
                                <mat-label> Ingredients</mat-label>
                                <input matInput type="text" formControlName="ingredients" placeholder="Enter ingredients">
                            </mat-form-field>

                            <mat-form-field class="form-group mt-1 mb-1" style="width: 100%;">
                                <mat-label> Instructions</mat-label>
                                <input matInput type="text" formControlName="instructions" placeholder="List the Instructions">
                            </mat-form-field>

                            <mat-form-field class="form-group mt-1 mb-1" style="width: 100%;">
                                <mat-label> Time Allocated</mat-label>
                                <input matInput type="text" formControlName="time" placeholder="Time Allocated">
                            </mat-form-field>

                            <mat-form-field class="form-group mt-1 mb-1" style="width: 100%;">
                                <mat-label>Recipe Url</mat-label>
                                <input matInput type="url" formControlName="recipePicture" placeholder="Enter recipe URL">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="row mt-1 mb-3">
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-primary mr-5" style="color: maroon; background-color: white; border-color: maroon;" (click)="close()">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary ms-1 ml-5" style="background-color: maroon; color: white; border: none;" (click)="edit()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>