.recipe-img {
    height: 200px; 
    object-fit: cover;
}
.custom-button {
    color: maroon;
    background-color: white !important;
    border-color: maroon;
  }
  
  .custom-button:hover, .newRecipe {
    margin-right: 5px; 
    background-color: maroon !important;
    color: white;

  }
  .edit-icon , .delete-icon, .favorite-icon{
    color: maroon;
  }
  .span{
    color: maroon;
    display: none;
  }
  .favorite-icon:hover + .span,  .edit-icon:hover + .span,  .delete-icon:hover + .span{
    display: block;

  }
  a{
    text-decoration: none;

  }
