<div class="container ">
    <div class="col mb-3 mt-2" *ngIf="isMyRecipes">
        <button type="button" class="btn btn-primary newRecipe" style="border: none;" (click)="newrecipe()">New Recipe</button>
    </div>
    <div class="row " >
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4" *ngFor="let recipedata of recipesData">
            <div class="card">
                <img [src]="recipedata?.recipePicture" class="card-img-top recipe-img" [alt]="recipedata?.title">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h3 class="card-title">{{recipedata?.title}}</h3>
                    <p class="card-subtitle">{{recipedata?.category}}</p>
                    <p>
                        <mat-icon class="card-text">access_time</mat-icon>
                        <span class="ml-1">{{recipedata?.time || 0}} Mins</span>
                    </p>
                    <ul class="list-unstyled d-flex justify-content-between" >
                        <li class="me-3 flex-grow-1 mr-5 ml-0">
                            <span  (click)="addToFavorites(recipedata)" class="d-flex flex-column align-items-center">
                                <mat-icon class="favorite-icon">favorite</mat-icon>
                                <p class="mt-1 span">Save</p>
                            </span>
                        </li>
                        <li class="me-3 flex-grow-1 mx-5" *ngIf="isMyRecipes">
                            <span  (click)="editRecipe(recipedata.id)" class="d-flex flex-column align-items-center">
                                <mat-icon class="edit-icon">edit</mat-icon>
                                <p class="mt-1 span">Edit</p>
                            </span>
                        </li>
                        <li class="me-3 flex-grow-1 ml-5 mr-0" *ngIf="isMyRecipes">
                            <span  (click)="Delete(recipedata.id)" class="d-flex flex-column align-items-center">
                                <mat-icon class="delete-icon">delete</mat-icon>
                                <p class="mt-1 span">Delete</p>
                            </span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary btn-block custom-button mt-3" (click)="ViewRecipe(recipedata?.id)">View Full Recipe</button>
                </div>
                
            </div>
        </div>

    </div>
</div>
