<div class="container ">
    <div class="col mb-3 mt-2" *ngIf="isMyRecipes">
        <button type="button" class="btn btn-primary newRecipe" style="border: none;" (click)="newrecipe()">New Recipe</button>
    </div>
    <div class="row " >
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4" *ngFor="let recipedata of recipesData">
            <div class="card">
                <img [src]="recipedata?.recipePicture" class="card-img-top recipe-img" [alt]="recipedata?.title">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h3 class="card-title">{{recipedata?.title}}</h3>
                    <span class="card-subtitle">{{recipedata?.category}}</span>
                    <mat-icon class="card-text">access_time</mat-icon><span class="ml-1">{{recipedata?.time || 0}} Mins</span>
                    <button type="button" class="btn btn-primary btn-block custom-button" (click)="ViewRecipe(recipedata?.id)">View Full Recipe</button>
                </div>
            </div>
        </div>

    </div>
</div>
