<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://github.com/Eb-Developer-Playground/Recipe_share_app/blob/myrecipes/src/assets/Images/chefimage.jpg?raw=true" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Denis</h5>
              <p class="text-muted mb-1">Chef</p>
              <p class="text-muted mb-4">Nairobi, Kenya</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button"  class="btn btn-primary" style="background-color: maroon; color: white; border: none;">Follow</button>
                <button type="button"  class="btn btn-outline-primary ms-1" style="color: maroon; background-color: white; border-color: maroon;">Message</button>
              </div>
              <button type="button"  class="btn btn-primary mt-3" style="background-color: maroon; color: white; border: none;">Edit</button>
            </div>
          </div>
          <div class="container">
            <div class="card mb-4 mb-lg-0 "> 
              <h4 class="mt-2 mx-auto">Socials</h4>
              <div class="card-body p-0 mx-auto" >
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex align-items-center p-2">
                    <i class="bi bi-globe bi-lg text-warning me-5"></i>
                    <p class="mb-0">https://Equiteries.com</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center p-2">
                    <i class="bi bi-twitter bi-lg me-5" style="color: #55acee;"></i>
                    <p class="mb-0">Equiteries</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center p-2">
                    <i class="bi bi-instagram bi-lg me-5" style="color: #ac2bac;"></i>
                    <p class="mb-0">Equiteries</p>
                  </li>
                  <li class="list-group-item d-flex align-items-center p-2">
                    <i class="bi bi-facebook bi-lg me-5" style="color: blue;"></i>
                    <p class="mb-0">Equiteries</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Johnatan Smith</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">exampleexample.com</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(097) 234-5678</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                    <p class="mb-4"> Summary </p>
                    <p class="mb-1" style="font-size: .77rem;">Recipe Shared (17)</p>
                    <div class="progress rounded" style="height: 5px;">
                      <div class="progress-bar bg-maroon" role="progressbar" style="width: 80%;  background-color: maroon;" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mt-4 mb-1" style="font-size: .77rem;">My Recipes (15)</p>
                    <div class="progress rounded" style="height: 5px;">
                      <div class="progress-bar bg-maroon" role="progressbar" style="width: 72%;  background-color: maroon;" aria-valuenow="72"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mt-4 mb-1" style="font-size: .77rem;">My Recipes Recommended (20)</p>
                    <div class="progress rounded" style="height: 5px;">
                      <div class="progress-bar bg-maroon" role="progressbar" style="width: 89%;  background-color: maroon;" aria-valuenow="89"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mt-4 mb-1" style="font-size: .77rem;">Liked Recipes (10)</p>
                    <div class="progress rounded" style="height: 5px;">
                      <div class="progress-bar bg-maroon" role="progressbar" style="width: 55%;  background-color: maroon;" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              
            <div class="col-md-6">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4 mx-auto" > Change Credentials
                  </p>
                  <form class="form-horizontal" role="form">
                    <mat-form-field class="form-group" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" id="email" placeholder="Email" style="width: 100%;">
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" id="password" placeholder="Password" style="width: 100%;">
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary btn-block" style="background-color: maroon; color: white; border: none;">
                    Change Credentials
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>