$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

.header {
  background-color: $primary-color1;
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  margin: 10px 20px 10px 20px; 
  height: 70px;
  width: 80px;
}
mat-toolbar{
    background-color: $primary-color1;
    font-size: large;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 80%;
  margin: auto;
}
.navigation .loginbutton,
.navigation .signupbutton {
  height: 30px;
  width: 50px;
  border: none;
  color: $primary-color1;
  background-color: $primary-color2;
}

.navigation a { 
  color: $primary-color3;
  margin-right: 80px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  text-decoration: none;
}
.navigation a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color2;
    transition: width 0.3s ease;
  }
  
  .navigation a:hover::before {
    width: 100%;
  }
.menunavs {
  display: flex;
  justify-content: space-evenly;
}

.authbuttons {
  display: flex;
  margin-left: auto; 
  font-size: large;
}
.authbuttons  .signupbutton,.authbuttons  .loginbutton {
    margin-left: 20px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}
.navigation .loginbutton:hover,
.navigation .signupbutton:hover {
  background-color: darken($primary-color2, 20%); 
}

.bodyimage{
    height: 200px;
    height: 100%;
    align-self: flex-end; 
    max-width: 100%;
    padding: 10px;
}
.bodycard {
    margin: 40px 15%; 
    height: 40vh;
    box-shadow:  5px 5px 5px 3px $primary-color2;
    border-radius: 17px;
    transition: box-shadow 0.3s ease;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
  }
  .cardContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .imagecontainer{
    flex: 0 0  30%;
    height: 100%;
  }
  .getStarted{
    background-color: $primary-color2;
    color: $primary-color1;
    border: none;
    height: 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 17px;
    width: 130px;
  }
 
  #Recommended, #Testimonials{
    display: flex;
    direction: row;
    width: 100%;
    margin: auto 20px;
  }
  .recoheader{
    text-align: center;
    margin-bottom: 10px;
  }
  .recoheader span{
    text-decoration: underline;
    text-decoration-color: $primary-color3; 
    text-decoration-thickness: 4px;
    color: $primary-color2;
  }
  #Recommended div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    width: 25%;
    height: 45vh;
    border-radius: 30px;
    box-shadow:  0 0 5px 0 $primary-color3;  
  }
  .recomcard{   
    border-radius: 30px;
    height: 100%;
    width: 100%;
  }
  .recomcard p {
    margin-left: 10px;
    font-size: 15px;
  }
    .recomcard button {
      background-color: $primary-color2;
      color: $primary-color1;
      margin: auto 10px;
      border: none;
      height: 40px;
      border-radius: 17px;
      font-size: large;
      font-weight: bold;
    
  }
  .recoImg{
    height: 80%;
    width: 100%;
  }
  .chefimage img{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 3px solid $primary-color2;
    border-radius: 100px;
  }
  .reviewcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow:  0 0 5px 0 $primary-color3;  
  }
  .chefname{
    font-style: italic;
    font-weight: bold;
  }
  .chefreview{
    margin-top: 20px;
    padding: 8px;
  }
  .reviewcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .arrow-icon{
    background-color: $primary-color2; 
    border-radius: 50%; 
    color: $primary-color1;
    padding: 10px; 
    margin: 10px;
    cursor: pointer;
  }
#AboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.aboutcard2, .aboutcard{
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 80%;
  box-shadow:  0 0 5px 0 $primary-color2; 
  margin: 20px;
}
.aboutcard2{
  
  justify-content: space-between;
}
.aboutimage{
  width: 50%;
}
.aboutimage img{
  height: 100%;
  width: fit-content;
}
.aboutimage2 img {
  height: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}
.footer{
  background-color: $primary-color2;
  color: $primary-color1;
  display: flex;
  flex-direction: row;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 200px;
}
.footer div{
  display: flex;
  flex: 1;
  height: 100%;
}
.footerlogo img{
  background-color: $primary-color1;
  height: 20%;
  width: 10%;
  border-radius: 50%;
}
.contact, .socials, .footerlogo{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-bottom: 10px;
}
#Testimonials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   margin: 10px; 
}
.slider{
  height: 55vh;
  width: 100%;
  margin-bottom: 10px;
}
.reviewcard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.chefimage{
  position: absolute;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 210px;
}
.chefimage img{
  height: 100%;
  width: 100%;
  border: 3px solid $primary-color2;
  border-radius: 100px;
}
.chefreview{
margin-top:34% ;
}
.chefreview p{
  position: relative;
  font-size: 15px;
  bottom: 5px;
  padding: 8px;
  font-size: 18px;
}
.aboutdetails2, .aboutdetails{
  height: 100%;
  width: 50%;
  padding: 20px;
  font-size: 18px;
}
@media only screen and (max-width: 600px) and (min-width: 416px) {
  .menunavs.show-nav{
    display: none;
  }
}
@media only screen and (max-width: 415px) {
  // header{
  //   position: fixed;
  //   top: 0;
  //   z-index: 12;
  //   background-color: $primary-color1;
  // }
  .header{
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: max-content;
  }
  .logo {      
    height: 40px;
    width: 60px;
    margin: auto;
  }
  img{
    height: 100%;
    width: 100%;
  }
  .navigation{
    width: 20%;
    margin-left: 0;
    position: absolute;
    bottom: -30px;
    margin-bottom: 20px;
  }
  .authbuttons{
    width: 20%;
    margin-left: auto;
    position: absolute;
    left: 230px;
    top: 25%;
    margin-left: auto;
  }
  .maticon{
    margin: 0 auto 0px auto;
    height: 30px;
    display: block;
    color: $primary-color2;
    background-color: white;
    border-color: $primary-color2;
    margin-left: 20px;
    position: absolute;
    top: 20% ;
  }
  .menunavs
  {
    display: none;
    
  }
  .menunavs.show-nav{
    display: block;
    margin-top: 80px;
  }
  .menunavs a{
    color: $primary-color3;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 300;
    margin-top: 50px;
    font-size: 12px;
    font-weight: bold;
    //display: none;
  }
  .loginbutton, .signupbutton{
    height: 25px;
    width: 10px;
    font-size: 12px;
    border-radius: 1px;
  }
  .bodycard{
    height: 60vh;
    width: 80%;
    margin: 40px auto;
  }
  .cardContent{
    display: flex;
    flex-direction: column;
  }
  .bodycontent{
    width: 100%;
    height: 60vh;
  }
  .cardContent h2{
    font-size: 14px;
    max-width: 100%;
    line-height: 2x;
  }
  .cardContent p{
    font-size: small;
  }
  .buttonget{
    display: flex;
    justify-content: center;
    
  }
  .getStarted{
    width: 200px;
    font-size: small;
  }
  .imagecontainer{
    flex: 0 0  50%;
    width: 100%;
    height: 40%;
  }
  .imagecontainer img{
    height: 100%;
  }
  .recoheader{
    font-size: 14px;
  }
  .aboutcard2, .aboutcard{
    display: flex;
    flex-direction: row;
    height: 20vh;
  }
  .aboutimage{
    height: 100%;
    width: 50%;
  }
  .aboutdetails2, .aboutdetails{
    height: 100%;
    width: 50%;
    padding: 10px;
    overflow: hidden;
  }
  .aboutdetails2 p, .aboutdetails p{    
    max-width: 100%;
    max-height: 100%;
    font-size: xx-small;
    line-height: 1.5;
    margin: 0;    
  }
  .aboutdetails2 h4, .aboutdetails h4{       
    max-width: 100%;
    max-height: 100%;
    font-size: x-small;
    font-weight: bold;
    line-height: 1.5;
    margin: 0; 
  }
  .aboutimage2 img, .aboutimage img{
    height: 100%;
    width: 100%;
  }
  .footerlogo img{
    background-color: $primary-color1;
    height: 50%;
    width: 50%;
    border-radius: 50%;
  }
  .contact, .socials, .footerlogo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: smaller;
  }
}

@media only screen and ((max-width: 768px) and (min-width: 601px)) {
  .navigation a { 
    color: $primary-color3;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    font-weight: light;
    text-decoration: none;
    font-size: 18px;
  }
  .logo {
    display: flex;
    margin: 10px 10px 10px 20px; 
    height: 40px;
    width: 50px;
  }
  .authbuttons  .signupbutton,.authbuttons  .loginbutton {
    margin-left: 20px;
    width: 55px;
    height: 30px;
    border: none;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}
  .bodycardcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .bodycard {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin: 40px auto;
    height: 50vh;
    width: 80%;
  }
  .imagecontainer{
    flex: 0 0  50%;
    height: 100%;
  }
  .imagecontainer img{
    height: 100%;
  }
  #Recommended{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     margin: 10px; 
   }
   #Recommended div{
     width: 40%;
     height: 50vh;
   }
   .recomcard{
     border-radius: 30px;
     height: 100%;
     width: 100%;
   }
   .recomcard p {
     margin-left: 12px;
     font-weight: light;
     font-size: 16px;
   }
   #Testimonials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     margin: 10px; 
  }
  .slider{
    height: 68vh;
  }
  .reviewcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .chefimage{
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
  }
  .chefimage img{
    height: 100%;
    width: 100%;
    border: 3px solid $primary-color2;
    border-radius: 100px;
  }
  .chefreview{
  margin-top:30% ;
  }
  .chefreview p{
    padding: 10px;
  }
  #AboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutcard2, .aboutcard{
    display: flex;
    flex-direction: row;
  }
  .aboutimage{
    height: 100%;
    width: 50%;
  }
  .aboutdetails2, .aboutdetails{
    height: 100%;
    width: 50%;
    padding: 20px;
  }
  .aboutimage2 img, .aboutimage img{
    height: 100%;
    width: 100%;
  }
   
}
@media only screen and ((max-width: 1024px) and (min-width: 769px)) {
  .navigation a { 
    color: $primary-color3;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    font-weight: light;
    text-decoration: none;
    font-size: 20px;
  }
  .logo {
    display: flex;
    margin: 10px 10px 10px 20px; 
    height: 60px;
    width: 70px;
  }
  .authbuttons  .signupbutton,.authbuttons  .loginbutton {
    margin-left: 20px;
    width: 70px;
    height: 40px;
    border: none;
    font-size: 18px;
    border-radius: 17px;
    transition: background-color 0.3s ease;
}
.bodycardcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.bodycard {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin: 40px auto;
  height: 40vh;
  width: 80%;
}
.imagecontainer{
  flex: 0 0  50%;
  height: 100%;
}
.imagecontainer img{
  height: 100%;
}
.getStarted{
  background-color: $primary-color2;
  color: $primary-color1;
  border: none;
  height: 45px;
  font-size: large;
  font-weight: bold;
  border-radius: 17px;
  width: 230px;
}
// #Recommended{
//   background-color: black;
//  }
//  .cardicontainer{
//   background-color: black;
 }  
//  #Recommended div{
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   overflow-x: auto;
//    width: 100%;
//    height: 35vh;
//  }
//  .recomcard{
//    border-radius: 30px;
//    height: 100%;
//    width: 30%;
//  }
//  .recomcard p {
//    margin-left: 12px;
//    font-weight: light;
//    font-size: 16px;
//  } 



