$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;
$primary-backgroud: 'https://images.pexels.com/photos/4552113/pexels-photo-4552113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1';

#loginbody {
    background-image: url($primary-backgroud);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

mat-card {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    height: 55%;
    color: $primary-color2;
    //width: 80%; 
}

mat-form-field {
    width: 80%;
    margin-left: 10%;
}

.loginbutton {
    display: flex;
    justify-content: center;
    padding: 0 8px 0 0;
    color: $primary-color1;
    margin-bottom: 6%;   
}
// mat-form-field button{
//     // display: none;
//      outline: none;
//     appearance: round($number: 100);
// }
.loginbutton button {
    color: $primary-color1;
    background-color: $primary-color2;
    border: none;
    width: 70%;
    height: 35px;
    font-size: larger;  
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 30%; 
    margin: 2% auto 3% auto;  
}
.logo img {
    width: 100%; 
    height: 100%; 
}
.footer {
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    color: $primary-color3;
}

.footer p span {
    text-decoration: underline;
    cursor: pointer;
    color: $primary-color2;
}
.success-notification {
    background-color: #4caf50; 
    position: fixed;
    top: 0;  
  }
  
  .error-notification {
    background-color: #f44336; 
    position: fixed;
    top: 0;  
  }
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  mat-spinner{
    color: $primary-color2;
  }
/* Media queries for responsiveness */
@media only screen and (min-width: 1024px) {
    mat-card {
        width: 30%; 
    }
}
@media only screen and (max-width: 1024px) {
    .loginCard {
        width: 35%; 
        height: 65vh;
        font-size: small;
    }
}

@media only screen and (max-width: 768px) {
    .loginCard {
        width: 45%; 
        height: 40vh;
        font-size: small;
    }
}

@media only screen and (max-width: 600px) {
    .loginCard {
        width: 55%; 
        height: 65vh;
        font-size: small;
    }
}
@media only screen and (max-width: 450px) {
    .loginCard {
        width: 80%; 
        height: 60vh;
        font-size: small;
    }
}

