$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

//recipes sections
.recipes{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;
  height: fit-content;
} 
// .recipecontrol {
//   height: 7vh;
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   margin-bottom: 20px;
// }
.newrecipe{
  color: $primary-color2;
  margin-right: 50px;
  margin-left: auto;
  position: absolute;
  left: 10%;
}
.mat-tooltip.addrecipe {
  color: maroon; 
  background-color: transparent; 
}
//recipe rendering 
.recipedisplay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px 5% ;
}
.recipecard{
 height: 35vh;
 width: 20%;
 margin: 10px;
 border-radius: 20px;
 box-shadow: 3px 3px 3px 3px $primary-color2;
}
.recipeinfo{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.recipeimagesect{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
  
}
.img{
  width: 100%;
  height: 70%;
  border-radius: 20px;
}
.img h5{
  position: absolute;
  bottom: 20px;
}
.recipeimage{
  width: 100%;
  height: 100%;
}
.details{
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  align-items: center;
}
.details mat-icon {
  margin: 5px 30px;
  color: $primary-color2;
}


.success-notification {
  background-color: #4caf50; 
  position: fixed;
  top: 0;  
}

.error-notification {
  background-color: #f44336; 
  position: fixed;
  top: 0;  
}

@media only screen and (max-width: 1024px) {
  .recipecard{
    height: 50vh;
    width: 30%;
   }
   .details mat-icon {
    margin: 5px 20px;
    color: $primary-color2 ;
  }
  .newrecipe{
    left: 6%;
  }
}
@media only screen and (max-width: 768px) {
  .recipecard {
    height: 45vh;
    width: 35%;
   }
   .details mat-icon {
    margin: 5px 20px ;
    color: $primary-color2 ;
  }
  .recipecontrol {
    justify-content: center;
    margin: 0 20px ;
  }
  .newrecipe{
    left: 15%;
  }
}
@media only screen and (max-width: 600px)and (min-width: 411px)  {
  .recipecard{
    height: 40vh;
    width: 45%;
   }
   .details mat-icon {
    margin: 5px 25px;
    color: $primary-color2;
  }
  .recipecontrol {
    justify-content: center;
  }
  .newrecipe{
    left: 5%;
  }
}
@media only screen and (max-width: 410px) {
  .recipecontrol {
    height: 7vh;
    flex-direction: column;
    position: relative;
    top: -100px;
  }

  .addicon, .searchcontrol {
    width: 100%; 
  }
  .addicon{
    position: absolute;
    right: 50px;
    top: -25px;
    margin-right: auto;
  }

.searchcontrol{
  position: absolute;
  margin-bottom: 10px;
}
.details mat-icon {
  margin: auto 8px;
  font-size: large;
  color: $primary-color2;
}
  .newrecipe {
    color: $primary-color2;
    margin-right: 30px;
  }
  ///recipes 
  .recipecard{
    height: 25vh;
    width: 35%;
  }
  .recipedisplay{
    flex-direction: row;
    margin: 5px 2px ;
  }
  td{
    font-size: smaller;
  }
  .img{
    width: 100%;
    height: 50%;
  }
}


