<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="z-index: 1200;">
    <div class="container">
        <!-- Logo/Home Link -->
        <a class="navbar-brand" routerLink="/" style="color: black;">
            <img class="navbar-img img-fluid" src="https://i.pinimg.com/474x/ea/29/0f/ea290fef4538a9d76a5456258827438d--creative-logo-chefs.jpg"
                style="max-width: 60px; border-radius: 50%;"><p style="font-size: 0.6em;">Equity Eateries</p>
        </a>

        <!-- Toggler/collapsible button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home Link -->
                <li class="nav-item">
                    <a class="nav-link" style="color: black;">Home</a>
                </li>
                <!-- Recipes Link -->
                <li class="nav-item">
                    <a class="nav-link" style="color: black;">Recipes</a>
                </li>
                <!-- Testimonials Link -->
                <li class="nav-item">
                    <a class="nav-link" style="color: black;">Testimonials</a>
                </li>
                <!-- About Us Link -->
                <li class="nav-item">
                    <a class="nav-link" style="color: black;">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
