<div class="container-fluid ">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top mx-4" style="z-index: 1200; background-color: white; ">

        <!-- Logo/Home Link -->
        <div class="navbar-brand d-flex align-items-center" style="color: black;">
            <img class="navbar-img img-fluid" src="https://i.pinimg.com/474x/ea/29/0f/ea290fef4538a9d76a5456258827438d--creative-logo-chefs.jpg"
                style="max-width: 60px; border-radius: 50%;">
                <p style="font-size: 0.6em;">Equity Eateries</p>
        </div>

        <!-- Toggler/collapsible button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: maroon; color: white;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Navigation Links when user is not logged in -->
                <ng-container *ngIf="!isLoggedIn; else loggedInNav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" style="color: black;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/features/allrecipes" style="color: black;">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/testimonials" style="color: black;">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: black;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary custom-button me-2" routerLink="/auth"  (click)="Signup()">Signup</a>
                    </li>
                </ng-container>

                <!-- Navigation Links when user is logged in -->
                <ng-template #loggedInNav>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/features/myprofile" style="color: black;">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/features/myrecipes" style="color: black;">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/features/allrecipes" style="color: black;">All Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary custom-button me-2" routerLink="/auth" (click)="Logout()">Logout</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </nav>
</div>
