$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

.header {
    background-color: $primary-color1;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }
  
  .logo {
    display: flex;
    margin: 10px 20px 10px 20px; 
    height: 70px;
    width: 80px;
  }
  .maticon{
    display: none;
  }
  mat-toolbar{
      background-color: $primary-color1;
      font-size: large;
  }
  .navigation{
    width: 90%;
    margin-left: auto;
  }
  .fixed-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  .menunavs{
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .menunavs a{
    color: $primary-color3;
    margin-right: 80px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    text-decoration: none;
  }
  
  .menunavs a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color2;
    transition: width 0.3s ease;
  }
  ///an underline that runs below the menu links on hover
  .menunavs a:hover::before {
    width: 100%;
  }
  .loginbutton{
    margin-left: 20px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: $primary-color2;
    color: $primary-color1;
  }
 
  @media only screen and (max-width: 768px) {
    .logo {
      margin: 10px 10px 10px 20px; 
      height: 60px;
      width: 70px;
    }
    .menunavs a{
      color: $primary-color3;
      margin-right: 35px;
      font-weight: 300;
      font-size: 16px;
    }
    .loginbutton{
      font-weight: 400;
      margin-top: 35px;
      margin-right: 20px;
      font-size: 12px;
      width: 70px;
      height: 28px;
    }
  }
  @media only screen and (max-width: 600px) and (min-width: 416px) {
    .logo {
      margin: 30px 5px 10px 20px; 
      height: 30px;
      width: 50px;
    }
    .menunavs a{
      color: $primary-color3;
      margin-right: 25px;
      font-weight: 500;
      font-size: 12px;
    }
    .loginbutton{
      font-size: 10px;
      width: 60px;
      height: 30px;
      margin-left: 20px;
    }
    .navigation{
      padding-right: 30px;
      margin:0px 0px 10px 40;      
      margin-right: 10px;
    }
    .maticon{
      display: none;
    }
    .menunavs{
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: block;
    }
    
  }
  @media only screen and (max-width: 415px) {
    .header{
      display: flex;
      flex-direction: column;
      position: relative;
      max-height: max-content;
    }
    .logo {      
      height: 40px;
      width: 60px;
      margin: auto;
    }
    img{
      height: 100%;
      width: 100%;
    }
    .navigation{
      width: 20%;
      margin-left: 0;
      position: absolute;
      bottom: -30px;
    }
    .logout{
      width: 20%;
      margin-left: auto;
      position: absolute;
      right: 20px;
      top: -25px;
    }
    .maticon{
      margin: 0 auto 0px auto;
      height: 30px;
      display: block;
      color: $primary-color2;
      background-color: white;
      border-color: $primary-color2;
      margin-left: 20px;
    }
    .menunavs
    {
      display: none;
      
    }
    .menunavs.show-nav{
      display: block;
      margin-top: 80px;
    }
    .menunavs a{
      color: $primary-color3;
      margin-right: 25px;
      font-weight: 300;
      margin-top: 50px;
      font-size: 12px;
      //display: none;
    }
    .loginbutton{
      height: 25px;
      width: 50px;
      font-size: 9px;
      border-radius: 5px;
    }
  }
 
  