$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;

.header {
    background-color: $primary-color1;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
  }
  
  .logo {
    display: flex;
    margin: 10px 20px 10px 20px; 
    height: 70px;
    width: 80px;
  }
  mat-toolbar{
      background-color: $primary-color1;
      font-size: large;
  }
  .navigation{
    width: 70%;
    margin-left: auto;
    padding-right: 20px;
  }
  .fixed-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
  }
  .menunavs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .menunavs a{
    color: $primary-color3;
    margin-right: 80px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    text-decoration: none;
  }
  
  .menunavs a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color2;
    transition: width 0.3s ease;
  }
  ///an underline that runs below the menu links on hover
  .menunavs a:hover::before {
    width: 100%;
  }
  .loginbutton{
    margin-left: 20px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 17px;
    transition: background-color 0.3s ease;
    background-color: $primary-color2;
    color: $primary-color1;
  }
  @media only screen and (max-width: 600px) {
    .navigation{
      width: 80%;
      padding-right: 20px;
      margin-right: 40px;
    }

    .logo {
      display: flex;
      margin: 10px 5px 10px 20px; 
      height: 50px;
      width: 60px;
    }
    .menunavs{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin-right: 50px;
    }
    .menunavs a{
      color: $primary-color3;
      margin-right: 10px;
      font-weight: 500;
    }
    .loginbutton{
      font-weight: bold;
      font-size: 16px;
    }
    
  }
  
  @media only screen and (max-width: 768px) {
    .logo {
      display: flex;
      margin: 10px 10px 10px 20px; 
      height: 60px;
      width: 70px;
    }
    .menunavs a{
      color: $primary-color3;
      margin-right: 35px;
      font-weight: 500;
    }
    .loginbutton{
      font-weight: bold;
      font-size: 16px;
    }
  }
 
  